.backupMoney{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.moneyInput{
    height: 30px;
    width: 60%;
    border: rgba(123,255,93,0.82) 1px  solid;

}
.clickPay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
.doClick{
    line-height: 30px;
    text-align: center;
    width: 100px;
    color: #FFFFFF;
    background-color: #00BB3B;
    height: 30px;
}