<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.geilove.dao.UserCategoryMapper" >
  <resultMap id="BaseResultMap" type="org.geilove.pojo.UserCategory" >
    <id column="userCategoryID" property="usercategoryid" jdbcType="BIGINT" />
    <result column="userCategoryUUID" property="usercategoryuuid" jdbcType="VARCHAR" />
    <result column="userUUID" property="useruuid" jdbcType="VARCHAR" />
    <result column="accountUUID" property="accountuuid" jdbcType="VARCHAR" />
    <result column="categoryType" property="categorytype" jdbcType="VARCHAR" />
    <result column="linkDate" property="linkdate" jdbcType="TIMESTAMP" />
    <result column="joinDate" property="joindate" jdbcType="TIMESTAMP" />
    <result column="effectiveDate" property="effectivedate" jdbcType="TIMESTAMP" />
    <result column="stopDate" property="stopdate" jdbcType="TIMESTAMP" />
    <result column="nowState" property="nowstate" jdbcType="VARCHAR" />
    <result column="remainFee" property="remainfee" jdbcType="DECIMAL" />
    <result column="historyFeeTimes" property="historyfeetimes" jdbcType="INTEGER" />
    <result column="historyTotalFee" property="historytotalfee" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    userCategoryID, userCategoryUUID, userUUID, accountUUID, categoryType, linkDate, 
    joinDate, effectiveDate, stopDate, nowState, remainFee, historyFeeTimes, historyTotalFee
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from userCategory
    where userCategoryID = #{usercategoryid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from userCategory
    where userCategoryID = #{usercategoryid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.geilove.pojo.UserCategory" >
    insert into userCategory (userCategoryID, userCategoryUUID, 
      userUUID, accountUUID, categoryType, 
      linkDate, joinDate, effectiveDate, 
      stopDate, nowState, remainFee, 
      historyFeeTimes, historyTotalFee)
    values (#{usercategoryid,jdbcType=BIGINT}, #{usercategoryuuid,jdbcType=VARCHAR}, 
      #{useruuid,jdbcType=VARCHAR}, #{accountuuid,jdbcType=VARCHAR}, #{categorytype,jdbcType=VARCHAR}, 
      #{linkdate,jdbcType=TIMESTAMP}, #{joindate,jdbcType=TIMESTAMP}, #{effectivedate,jdbcType=TIMESTAMP}, 
      #{stopdate,jdbcType=TIMESTAMP}, #{nowstate,jdbcType=VARCHAR}, #{remainfee,jdbcType=DECIMAL}, 
      #{historyfeetimes,jdbcType=INTEGER}, #{historytotalfee,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.geilove.pojo.UserCategory" >
    insert into userCategory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usercategoryid != null" >
        userCategoryID,
      </if>
      <if test="usercategoryuuid != null" >
        userCategoryUUID,
      </if>
      <if test="useruuid != null" >
        userUUID,
      </if>
      <if test="accountuuid != null" >
        accountUUID,
      </if>
      <if test="categorytype != null" >
        categoryType,
      </if>
      <if test="linkdate != null" >
        linkDate,
      </if>
      <if test="joindate != null" >
        joinDate,
      </if>
      <if test="effectivedate != null" >
        effectiveDate,
      </if>
      <if test="stopdate != null" >
        stopDate,
      </if>
      <if test="nowstate != null" >
        nowState,
      </if>
      <if test="remainfee != null" >
        remainFee,
      </if>
      <if test="historyfeetimes != null" >
        historyFeeTimes,
      </if>
      <if test="historytotalfee != null" >
        historyTotalFee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usercategoryid != null" >
        #{usercategoryid,jdbcType=BIGINT},
      </if>
      <if test="usercategoryuuid != null" >
        #{usercategoryuuid,jdbcType=VARCHAR},
      </if>
      <if test="useruuid != null" >
        #{useruuid,jdbcType=VARCHAR},
      </if>
      <if test="accountuuid != null" >
        #{accountuuid,jdbcType=VARCHAR},
      </if>
      <if test="categorytype != null" >
        #{categorytype,jdbcType=VARCHAR},
      </if>
      <if test="linkdate != null" >
        #{linkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="joindate != null" >
        #{joindate,jdbcType=TIMESTAMP},
      </if>
      <if test="effectivedate != null" >
        #{effectivedate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopdate != null" >
        #{stopdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nowstate != null" >
        #{nowstate,jdbcType=VARCHAR},
      </if>
      <if test="remainfee != null" >
        #{remainfee,jdbcType=DECIMAL},
      </if>
      <if test="historyfeetimes != null" >
        #{historyfeetimes,jdbcType=INTEGER},
      </if>
      <if test="historytotalfee != null" >
        #{historytotalfee,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.geilove.pojo.UserCategory" >
    update userCategory
    <set >
      <if test="usercategoryuuid != null" >
        userCategoryUUID = #{usercategoryuuid,jdbcType=VARCHAR},
      </if>
      <if test="useruuid != null" >
        userUUID = #{useruuid,jdbcType=VARCHAR},
      </if>
      <if test="accountuuid != null" >
        accountUUID = #{accountuuid,jdbcType=VARCHAR},
      </if>
      <if test="categorytype != null" >
        categoryType = #{categorytype,jdbcType=VARCHAR},
      </if>
      <if test="linkdate != null" >
        linkDate = #{linkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="joindate != null" >
        joinDate = #{joindate,jdbcType=TIMESTAMP},
      </if>
      <if test="effectivedate != null" >
        effectiveDate = #{effectivedate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopdate != null" >
        stopDate = #{stopdate,jdbcType=TIMESTAMP},
      </if>
      <if test="nowstate != null" >
        nowState = #{nowstate,jdbcType=VARCHAR},
      </if>
      <if test="remainfee != null" >
        remainFee = #{remainfee,jdbcType=DECIMAL},
      </if>
      <if test="historyfeetimes != null" >
        historyFeeTimes = #{historyfeetimes,jdbcType=INTEGER},
      </if>
      <if test="historytotalfee != null" >
        historyTotalFee = #{historytotalfee,jdbcType=DECIMAL},
      </if>
    </set>
    where userCategoryID = #{usercategoryid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.geilove.pojo.UserCategory" >
    update userCategory
    set userCategoryUUID = #{usercategoryuuid,jdbcType=VARCHAR},
      userUUID = #{useruuid,jdbcType=VARCHAR},
      accountUUID = #{accountuuid,jdbcType=VARCHAR},
      categoryType = #{categorytype,jdbcType=VARCHAR},
      linkDate = #{linkdate,jdbcType=TIMESTAMP},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      effectiveDate = #{effectivedate,jdbcType=TIMESTAMP},
      stopDate = #{stopdate,jdbcType=TIMESTAMP},
      nowState = #{nowstate,jdbcType=VARCHAR},
      remainFee = #{remainfee,jdbcType=DECIMAL},
      historyFeeTimes = #{historyfeetimes,jdbcType=INTEGER},
      historyTotalFee = #{historytotalfee,jdbcType=DECIMAL}
    where userCategoryID = #{usercategoryid,jdbcType=BIGINT}
  </update>
</mapper>